.header {
  display: grid;
  grid-template-columns: 1fr min-content 184px 1fr;
  justify-content: center;
  align-items: center;
}

.header__menu {
  padding: 133px 36px 138px 50px;
  text-underline-offset: 4px;
  white-space: nowrap;
}
.link_active{
  text-decoration: none;
}

.header__links-list {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  justify-content: center;
  align-items: center; 
  gap: 32px ;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.header__links-list-item {
  list-style-type: circle;
}

.logo-black {
  grid-column-start: 2;
  width: 148px;
  height: 105px;
  
} 
.header__address {
  grid-column-start: 4 ;
  align-items: center;
  padding-bottom: 7px;
  padding-left: 5px;
  
}

.address_list {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 1.4;
  text-underline-offset: 4px;
  list-style-type: none;
  white-space: normal;
}

.address_wrap {
  font-size: 18px;
  font-style: normal;
  white-space: wrap;
}

.main {
  position: relative;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  z-index: 1;
  margin: 165px 50px 106px 50px  ;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  text-align: start;
}

.aligned-text_center {
  display: block;
  margin-top: 18px;
  margin-left: 30px;
  text-align: center;
}

.aligned-text_right {
  display: block;
  margin-top: 16px;
  margin-right: -30px;
  text-align: right;
}
.cover__description{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0px 50px 50.5px 50px;
}

.cover__description-text {
  z-index: 1;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  z-index: 1;
  border: 1px solid white;
  padding: 12px 32px 11px 31px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
}

.lot {
  width: 1052px;
  margin: 180px 24px 0 24px;
}
.title-lots {
  padding-left: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  justify-content: center;
  row-gap: 25px;
  column-gap: 25px;
  padding-top: 27px;
  padding-bottom: 30px;
}
.card{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px 48px 40px ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card-link{
  text-decoration: none;
}

.card-title {  
  z-index: 1;
  color: white;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 120%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}


.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.see_more_button {
  padding-left: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-underline-offset: 4px;
}

.about {
  display: flex;
  margin: 120px 24px 0 24px;
}
.about_logo {
  display: flex;
  padding: 35px 72px 320px 47px;
}
.about_logo_background {
  z-index: 0;
  width: 240px;
  height: 240px;
  background-image: url(../images/Ellipse.svg);
  background-repeat: no-repeat;
}
.about_logo-white {
  z-index: 1;
  width: 148px;
  height: 114px;
  margin: 64px 45.52px 62px 46.48px;
}
.about__column {
  padding: 136px 24px 0px 0;
}
.about__title {
  padding-bottom: 100px;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}
.about__text {
  padding-bottom: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400px;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns:  261px  min-content 240px;
  justify-content: space-between;
  margin:  158px 50px 82px 50px;
}

.footer__menu-list-item {
  align-items:start;
  padding-right: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: center;
  text-underline-offset: 4px;
  list-style-type: none;
  white-space: nowrap;
}

.footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  column-gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}